<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> <a class="navbar-brand" routerLink="/" routerLinkActive="active">DatingApp</a>

       
        <ul class="navbar-nav me-auto mb-2 mb-md-0"  >
             @if (accountService.currentUser()){
            <li class="nav-item"> 
                <a class="nav-link " routerLink="/members" routerLinkActive="active">Matches</a> </li>
            <li class="nav-item">
                 <a class="nav-link " routerLink="/lists" routerLinkActive="active">Lists</a> </li>
            <li class="nav-item">
                 <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a> </li>
          
            }
            <li class="nav-item">
                 <a class="nav-link " routerLink="/errors" routerLinkActive="active">Errors</a> </li>
        </ul>
    

    @if (accountService.currentUser()){
        <div class="dropdown" dropdown>
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none" >
                
                Welcome {{ accountService.currentUser()?.userName |titlecase }}

            </a>
            <div *dropdownMenu class="dropdown-menu mt-3" >
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>
    }


    @if (!accountService.currentUser()){
        <form #loginForm ="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off"> <input name = "username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
            
            <input class="form-control me-2"
            name="password" [(ngModel)]="model.password" placeholder="Password" type="password">

            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    }
        
    </div>

</nav>